html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image:url("http://design-milk.com/images/2016/06/Gold-Phantom-Background-Rose-Gold.jpg")
}
  .intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background-image:url("http://design-milk.com/images/2016/06/Gold-Phantom-Background-Rose-Gold.jpg") no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: auto;


}
.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.content h1 {
  font-family: 'Railway', sans-serif;
  color: #F9F3F4;
  text-shadow: 0px 0px 300px #000;
  font-size: 500%;
  margin-bottom:200px;
}

.btn {
  border-radius: 9px;
  font-family: 'Arial', sans sans-serif;
  color: #FFD700;
  font-size: 135%;
  padding: 10px 20px;
  border: solid #FFD700 3px;
  text-transform: uppercase;
  text-decoration: none;

}

.btn:hover {
  color: #fff;
  border: solid #fff 3px;
}


#div1{
  display:inline;
}
